* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body, html {
height: 100%;
font-family: "Kanit", sans-serif;
}

h1{
font-family: "Kanit", sans-serif;
}

p {
font-size: 20px;
font-family: "Kanit", sans-serif;
}

a {
  font-family: "Kanit", sans-serif;
}

.kanit-thin {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
}
  
.kanit-extralight {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: normal;
}
  
.kanit-light {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}
  
.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}
  
.kanit-medium {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}
  
.kanit-semibold {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}
  
.kanit-bold {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}
  
.kanit-extrabold {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: normal;
}
  
.kanit-black {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: normal;
}
  
.kanit-thin-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: italic;
}
  
.kanit-extralight-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: italic;
}
  
.kanit-light-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: italic;
}
  
.kanit-regular-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: italic;
}
  
.kanit-medium-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: italic;
}
  
.kanit-semibold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: italic;
}
  
.kanit-bold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: italic;
}
  
.kanit-extrabold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: italic;
}
  
.kanit-black-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: italic;
}
  
  

.container {
display: flex;
flex-direction: row;
height: 100%;
}



/* style colonne gauche fixe */


.imagefixe {
margin: 0 auto;
}

.blocinfos{
    width: 500px;
display: flex;
flex-direction: column;
text-align: center;
margin: 0 auto;
}

.nom {
font-family: "Kanit", sans-serif;
font-size:62px;
font-weight: lighter;
text-align: left;
color: #ffffff;
padding: 0px 0px 20px 0px;
}

.textepresentation {
text-align: justify;
font-weight:300;
font-size: 16px;
line-height: 20px;
height: auto;
color: #ffffff;
}

.textecontact {
text-align: left;
font-weight:300;
font-size: 20px;
height: auto;
color: #ffffff;
padding: 20px 0px 0px 0px;
text-decoration: none;
}

.flecheverte {
  width: 20px;
}




    
/* style colonne droite fixe  */
.sectionmobile {
width: 75%;
display: flex;
flex-direction: column;
}


/* style barre de navigation */
.navbar {
background-color: #CDDC29;
width: 75%;
position: fixed;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7); /* Ombre portée */
}

.navbar ul {
list-style: none;
display: flex;
justify-content: space-around;
padding: 20px;
}

.navbar ul li a {
text-align: center;
font-weight: 500;
font-size: 20px;
color: #ffffff;
text-decoration: none;
padding: 10px 20px;
display: block;
}

.navbar ul li a:hover {
font-weight: 500;
color: #ffffff;
background-color:#000000;
padding: 10px 20px;
font-size: 20px;
border-radius: 5px;
cursor: pointer;
}




/* Section image de fond et titre métiers hauteur 870px */
.imagefonddiv {
width: 100%;
height: 100%;
background-image: url("/images/2147.jpg");
background-size: cover; /* Pour que l'image couvre tout le div */
background-position: center; /* Pour centrer l'image */
background-repeat: no-repeat; /* Pour éviter la répétition de l'image */
}

.contenu {
flex: 1;
overflow-y: auto;
}

.sectioncontenuimage {
height: 870px;
display: flex;
align-items: center;
}

/* style 4 métiers bloc central */
.blocprofessions{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0px 0px 0px 60px;
}

.professions {
  width: 100%;
  font-family: "Kanit", sans-serif;
  font-size:70px;
  line-height: 80px;
  font-weight: 200;
  text-align: left;
  color: #000000;
  padding: 0px 0px 20px 0px;
  text-shadow: 2px 2px 5px rgba(205, 220, 41, 2);
}

.flecheverteprofessions {
  width: 50px;
}



/* section fond vert hauteur 850px */
.sectioncontenufondvert {
background-color: #CDDC29;
width: 100%;
height: 850px;
display: flex;
align-items: center;
display: flex;
justify-content: center;
}

.blocfondvert {
width: 40%;
display: flex;
align-items: center;
justify-content: center;
/* flex-direction: column; */
}

.imagefondvert {
  width:230px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px 0px 20px;
  object-fit: cover;
}


.infosfondvert {
  width: 60%;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
}

.bloctitregraphiste {
  width: 95%;
  font-size:70px;
  line-height: 80px;
  font-weight: 200;
  text-align: left;
  color: #000000;
  padding: 0px 30px 20px 0px;
}

.bloctextegraphiste {
  width: 95%;
  font-size:22px;
  line-height: 30px;
  font-weight: 200;
  text-align: justify;
  color: #000000;
  padding: 0px 30px 0px 0px;
}
  






/* section fond blanc hauteur 850px */
.sectioncontenufondblanc {
  background-color: #ffffff;
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
}
  
.blocfondblanc{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
}
  
.imagefondblanc {
  width: 230px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px 0px 20px;
  object-fit: cover;
}
  
.infosfondblanc {
    width: 60%;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
}

.bloctitrewebdev {
  width: 95%;
  font-size:70px;
  line-height: 80px;
  font-weight: 200;
  text-align: left;
  color: #000000;
  padding: 0px 0px 20px 50px;
}
  
.bloctextewebdev {
  width: 95%;
  font-size:22px;
  line-height: 30px;
  font-weight: 200;
  text-align: justify;
  color: #000000;
  padding: 0px 30px 0px 50px;
}





  






/* style footer */
.sectionfooterfondvert {
  background-color: #CDDC29;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  }
.stylefooter{
  width: 100%;
  height: 80px;
  background-color: #CDDC29;
}
.coordonnees {
  color: #000000;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mentions {
  display: inline-block;
  text-align: center;
  color: #000000;
  font-family: "Kanit", sans-serif;
  font-size: 14px;
  line-height: 14px;
}

/* style barre de navigation footer */
.navbarfooter {
  width: 100%;
  height: 30px;
  margin: 0 auto;
  padding: 0px 0px 50px 0px;
}
.navbarfooter ul {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 0px 0px 0px;
  font-size: 14px;
}
.navbarfooter ul li a {
  font-family: "Kanit", sans-serif;
  text-align: center;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
  margin: 20px;
  width: 200px;
}





/* style media mobile */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sectionfixe {
        width: 100%;
    }

    
    .sectionmobile {
        width: 100%;
    }

    .sectioncontenu {
        flex-direction: column;
        align-items: flex-start;
    }

.sectioncontenu img {
        margin-right: 0;
        margin-bottom: 20px;
    }

}
